html,body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#side-panel, #main-panel {
    padding-top: 80px;
}

#side-panel {
    box-shadow:  12px 12px 24px #cfd1d5, 
                 -12px -12px 24px #ffffff;
    background-color: #F1F2F6;
    height: 100vh;
    border-radius: 50px;
    padding: 30px;
    margin-right: 30px;
}

#side-panel H1 {
    margin: 30px 0px;   
}


#main-panel {
    overflow-y: scroll;
    height: 100vh;
}

.summary-card {
    border-radius: 30px;
    border: 0px;
    color: black;
    height: 100%;
    background: #F4F6FA;
    box-shadow:  11px 11px 22px #d7d8dc, 
                 -11px -11px 22px #ffffff; 
}

.summary-card p, .summary-card H2 {
    margin: 0px;
}
    
#side-data-card p {
    margin: 1rem;
}

.stats {
    text-align: center;
    max-height: 250px;
}

.stats-card {
    margin-top: 3rem;
}

#stats-block {
    margin: 20px;
    background-image: linear-gradient(to top right, #00EEBB, #96DBFA);
    border-radius: 15px;
}

[id$="-slider"] {
    padding: 0 !important;
    margin: 0;
}

[class$="-slider"] {
    padding: 40px 0px !important;
}

[id$="-value"], .money, .icon {
    margin: 5px 0px;
    color: black;
    text-align: center;
}

[id$="-value"] {
    font-weight: bold;
}

input {
    width: 7rem;
}

.icon {
    text-align: center;
    font-size: 20px
}

.result {
    font-size: 2rem;
}

.table-block {
    height: 40vh;
    overflow-y: scroll;
}

table {
  border-collapse: collapse;
  margin-top: 1rem;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
/*  background-color: #172136;*/
  border-bottom: 1px solid #152035;
  padding: .35em;
}

.hover-table tr:hover {
    background-color: blueviolet;
}

.hover-table tr:hover p.balances {
/*    background-color: firebrick;*/
    color: white;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

#side-data-card {
    margin-right: 10px;
}

#side-data-card p {
    padding: 1rem;
}

/*
.icon-container {
    background-color: aqua;
}
*/

#advice, .info {
    text-align: center;
    font-size: 2rem;
}

.info {
    font-weight: bold;
}

td.amount {
    white-space: nowrap;
    overflow: hidden;
/*    text-align: right;*/
}

td.amortization-table.amount {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

table tr {
  text-align: center;
}

.data-row {
  margin: 20px 0px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

@media screen and (max-width: 900px) {
  html,body {
    overflow-y: auto;
  }
    
  #main-panel {
    overflow-y: hidden;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {

    
    #main-panel {
        height:auto;
    }
}

@media screen and (max-width: 600px) {
  
  html,body {
    overflow-y: auto;
  }
    
  #side-panel {
    margin-right: 0px;
    height: 120vh;
  }    
    
  #main-panel {
    overflow-y: hidden;
    margin-top: 20px;
    padding-top: 0px;
    height:auto;
  }
    
  table.amortization-table {
    border: 0;
  }
    
  table.amortization-table caption {
    font-size: 1.3em;
    color: black;
  }
    
  table th  {
    display: none;
  }
    
    #side-data-card {
        margin: 2rem 0;
    }
    
/*
  table.transaction-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
*/
  
  table.amortization-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    color: black;
  }
  
  table.amortization-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table.amortization-table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table.amortization-table td:last-child {
    border-bottom: 0;
  }
    
  .data-row {
    margin: 10px 0px;
  }
}

/* Apply a dark color scheme */
@media (prefers-color-scheme: dark) {

    #side-panel label, #side-panel text, H1 {
        color: white !important;
    }
    
    #side-panel {
        background: #171818;
        box-shadow:  11px 11px 22px #0d0d0d, 
                     -11px -11px 22px #212323; 
    }
    
    .summary-card {
        border-radius: 30px;
        border: 0px;
        color: white;
        height: 100%;
        background: #171818;
        box-shadow:  11px 11px 22px #0d0d0d, 
                     -11px -11px 22px #212323; 
    }
    
    p.balances, table.amortization-table td {
        color: grey;
    }
    
    table.amortization-table td {
        border-bottom: 1px solid #84878A;
    }
    
    #main-panel, #background, body {
        background-color: #171818;
    }

    tr:nth-child(even) {
      background-color: #1C1D1D;
    }
    
}

/* Github button */
.fixed-btn {
    border-radius: 150px;
    height: 65px;
    width: 65px;
    transition: background 0.75s;
    color: white;
    border: 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-secondary {
    background-color: blueviolet;
}

.fixed-btn:hover {
  background-color: #119DFF;
  opacity: .8;
}

.button-container {
    position: fixed;
    bottom: 3%;
    right: 2%;
}

.icon {
    font-size: 30px;
    color: white;
}

.modebar {
    display: none;
}

/*codepen*/

body {
  background: #191a1a;
}

._dash-undo-redo {
  background-color: transparent;
  color: white;
}

.section {
  height: 50vh;
  min-height: 50vh;
  background: linear-gradient(to top, #191a1a 0%, transparent 75%), url('https://web.archive.org/web/20200508083219im_/https://upload.wikimedia.org/wikipedia/commons/4/42/Comet_Crash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.landing-text {
  border: 1px solid #FFF;
  padding: 20px;
  width: 50%;
  color: #FFF;
  text-align: center;
}

.Select-control {
  background: #191a1a !important;
  color: white !important;
}

.Select-value-label {
  color: white !important;
}

.radius-group {
  padding-top: 20px;
}

.radius-group label {
  margin-right: 20px;
}

.radius-group label input {
  margin-right: 10px;
}

.rc-slider {
  position: relative;
  height: 14px;
  padding: 50px 0 100px 0;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-rail {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #393939;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #00EEBB;
}

.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}

.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}

.rc-slider-handle {
  position: absolute;
  margin-left: -6px;
  margin-top: -16px;
  width: 6px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  border: solid 2px #96dbfa;
  background-color: #33ccbc;
}

.rc-slider-dot {
  position: absolute;
  bottom: -6px;
  margin-left: -4px;
  width: 4px;
  height: 16px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  vertical-align: middle;
}

.rc-slider-dot-active {
  border-color: #96dbfa;
}

.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
  margin-top: 70px;
  font-size: 16px;
}
/*
     FILE ARCHIVED ON 08:32:19 May 08, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:49:16 Sep 25, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  load_resource: 276.616
  LoadShardBlock: 2241.601 (3)
  captures_list: 2274.129
  exclusion.robots: 0.127
  RedisCDXSource: 8.704
  exclusion.robots.policy: 0.118
  PetaboxLoader3.datanode: 852.191 (4)
  CDXLines.iter: 20.194 (3)
  esindex: 0.011
  PetaboxLoader3.resolve: 1610.235 (4)
*/